{% extends 'base.html.twig' %}

{%  block title 'Édition' %}

{% block body %}
    <div class="container">
        <h2>Éditer l'option</h2>
        {{ include('admin/option/_form.html.twig', {button: 'Éditer'}) }}
    </div>
{% endblock %}